<div class="flex justify-between items-center mb-6">
  <h2 class="text-xl font-semibold">Cadastrar funcionário</h2>
</div>

<form
  class="form-control gap-2"
  [formGroup]="createEmployee"
  (ngSubmit)="onSubmit()"
>
  <fieldset class="w-full">
    <legend>
      <label for="name"
        >Nome
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="name"
      formControlName="name"
      class="input input-bordered w-full"
      placeholder="Nome do funcionário"
      [minlength]="3"
      [maxlength]="80"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="motherName"
        >Nome da mãe
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="motherName"
      formControlName="motherName"
      class="input input-bordered w-full"
      placeholder="Nome da mãe"
      [minlength]="3"
      [maxlength]="80"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="cpf"
        >CPF
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="cpf"
      formControlName="cpf"
      class="input input-bordered w-full"
      placeholder="123.456.789-00"
      [minlength]="11"
      [maxlength]="11"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="birthDate"
        >Data de nascimento
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="birthDate"
      formControlName="birthDate"
      type="date"
      class="input input-bordered w-full"
      placeholder="01/01/2001"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="civilState"
        >Estado civil
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <select
      class="select select-bordered w-full"
      formControlName="civilState"
      place
    >
      <option disabled selected value="">Selecione o estado civil</option>
      @for (civilState of civilStates; track $index) {
      <option [value]="civilState.value">{{ civilState.label }}</option>
      }
    </select>
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="admissionDate"
        >Data de Admissão
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="admissionDate"
      formControlName="admissionDate"
      type="date"
      class="input input-bordered w-full"
      placeholder="01/01/2001"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="validityDate"
        >Data de vigência
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="validityDate"
      formControlName="validityDate"
      type="date"
      class="input input-bordered w-full"
      placeholder="01/01/2001"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="registration"
        >Matrícula
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="registration"
      formControlName="registration"
      class="input input-bordered w-full"
      placeholder="99999"
      [minlength]="7"
      [maxlength]="8"
    />
  </fieldset>

  <div class="mt-4">
    <button
      class="w-full btn btn-md btn-success text-white bg-green-600"
      role="button"
    >
      Salvar
    </button>
  </div>
</form>
