<div class="flex justify-between items-center mb-6">
  <h2 class="text-xl font-semibold">Cadastrar funcionário</h2>
</div>

<form class="form-control gap-2" [formGroup]="createEmployee">
  <fieldset class="w-full">
    <legend>
      <label for="name"
        >Nome
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="name"
      formControlName="name"
      class="input input-bordered w-full"
      placeholder="Nome do funcionário"
      [minlength]="3"
      [maxlength]="80"
    />
  </fieldset>

  <fieldset class="w-full">
    <legend>
      <label for="motherName"
        >Nome da mãe
        <strong class="text-red-500">*</strong>
      </label>
    </legend>
    <input
      id="motherName"
      formControlName="motherName"
      class="input input-bordered w-full"
      placeholder="Nome da mãe"
      [minlength]="3"
      [maxlength]="80"
    />
  </fieldset>

  <div class="flex flex-col md:flex-row gap-4">
    <fieldset class="w-full">
      <legend>
        <label for="rg"
          >RG
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="rg"
        type="text"
        formControlName="rg"
        class="input input-bordered w-full"
        placeholder="12.345.678-9"
        mask="00.000.000-0"
      />
    </fieldset>

    <fieldset class="w-full">
      <legend>
        <label for="cpf"
          >CPF
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="cpf"
        formControlName="cpf"
        class="input input-bordered w-full"
        placeholder="123.456.789-00"
        [maxlength]="14"
        mask="CPF_CNPJ"
      />
    </fieldset>
  </div>
  <div class="flex flex-col md:flex-row gap-4">
    <fieldset class="w-full">
      <legend>
        <label for="birthDate"
          >Data de nascimento
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="birthDate"
        formControlName="birthDate"
        type="date"
        class="input input-bordered w-full"
        placeholder="01/01/2001"
      />
    </fieldset>

    <fieldset class="w-full">
      <legend>
        <label for="civilState"
          >Estado civil
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <select
        id="civilState"
        class="select select-bordered w-full"
        formControlName="civilState"
        place
      >
        <option disabled selected value="">Selecione o estado civil</option>
        @for (civilState of civilStates; track $index) {
        <option [value]="civilState.value">{{ civilState.label }}</option>
        }
      </select>
    </fieldset>
  </div>

  <div class="flex flex-col md:flex-row gap-4">
    <fieldset class="w-full">
      <legend>
        <label for="admissionDate"
          >Data de Admissão
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="admissionDate"
        formControlName="admissionDate"
        type="date"
        class="input input-bordered w-full"
        placeholder="01/01/2001"
      />
    </fieldset>

    <fieldset class="w-full">
      <legend>
        <label for="validityDate"
          >Data de vigência
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="validityDate"
        formControlName="validityDate"
        type="date"
        class="input input-bordered w-full"
        placeholder="01/01/2001"
      />
    </fieldset>
  </div>

  <div class="flex flex-col md:flex-row gap-4">
    <fieldset class="w-full">
      <legend>
        <label for="plan"
          >Plano
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="plan"
        formControlName="plan"
        class="input input-bordered w-full uppercase"
        placeholder="F90J"
        [validation]="false"
        mask="AAAAAAAAAA"
      />
    </fieldset>
    <fieldset class="w-full">
      <legend>
        <label for="registration"
          >Matrícula
          <strong class="text-red-500">*</strong>
        </label>
      </legend>
      <input
        id="registration"
        formControlName="registration"
        class="input input-bordered w-full"
        placeholder="99999"
        mask="00000009"
      />
    </fieldset>
  </div>

  <div class="mt-6 flex gap-4 sm:justify-end flex-col-reverse sm:flex-row">
    <button class="w-full sm:w-28 btn btn-md" routerLink="/">
      <ng-icon name="heroArrowLeft"></ng-icon>
      Voltar
    </button>

    <button class="w-full sm:w-32 btn btn-neutral btn-md" (click)="onSubmit()">
      <ng-icon name="heroCheck"></ng-icon>
      Salvar
    </button>
  </div>
</form>
