<div class="flex justify-between items-center mb-12">
  <h2 class="text-xl font-semibold">Todos os funcionários</h2>
  <a
    routerLink="create"
    class="btn btn-md btn-neutral hover:animate-none"
    [ngClass]="{
      'animate-pulse': employees().data!.length === 0
    }"
    role="button"
  >
    Cadastrar
  </a>
</div>

@if (employees().isFetching) {
<span class="flex justify-center mt-6">
  <div class="loading loading-spinner text-neutral w-[36px]"></div>
</span>
} @if (employees().data!.length > 0) {

<table
  class="mt-4 table table-md table-zebra shadow-sm border rounded border-slate-200 -z-10"
>
  <thead>
    <tr class="bg-neutral-200">
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de nascimento</th>
      <th>Estado civil</th>
      <th class="text-left">Opções</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let employee of employees().data">
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div>
              <p>{{ employee.name }}</p>
            </div>
          </div>
        </td>
        <td>
          <p>{{ employee.cpf | cpfFormat }}</p>
        </td>
        <td>
          <p>
            {{ employee.birthDate | date : "dd/MM/yyyy" }}
          </p>
        </td>
        <td>
          <p>{{ employee.civilState }}</p>
        </td>
        <td>
          <button class="btn btn-ghost btn-circle">
            <ng-icon name="heroCog6Tooth"></ng-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
} @else {
<p class="text-center font-medium mt-24">Nenhum funcionário cadastrado 🤨</p>
}
